<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="/static/style.css" media="all" rel="stylesheet" type="text/css">
</head>
<body>

<div class="box">
  <h1>I Am Sitting In a Codec</h1>

  <div class="blurb">
    <p>> I am sitting in a room (1969) is one of composer Alvin Lucier's best known works, featuring Lucier recording himself narrating a text, and then playing the recording back into the room, re-recording it. The new recording is then played back and re-recorded, and this process is repeated. Since all rooms have characteristic resonance or formant frequencies (e.g. different between a large hall and a small room), the effect is that certain frequencies are emphasized as they resonate in the room, until eventually the words become unintelligible, replaced by the pure resonant harmonies and tones of the room itself.</p>

    <p>We recreate it here</p>
  </div>

  <a href="/download" class="btn btn-success btn-large"><i class="icon-white icon-download-alt"></i> Download iteration {{iteration}}</a>
</div>

<script src="/static/vendor/jquery-2.1.1.min.js"></script>
<script src="/static/app.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
